node_modules
**/*.log

# laravel project:
complex-laravel-example/**/*/node_modules
complex-laravel-example/**/*/public/hot
complex-laravel-example/**/*/public/storage
complex-laravel-example/**/*/storage/*.key
complex-laravel-example/**/*/vendor
**/*/.env
**/*/.env.backup
**/*/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log